<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/style.css">
    <title>Bitacora</title>
</head>
<body>
    <div class="main-container animated fadeInDownBig">
        <nav> 
            <a href="/proyects"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"/></svg></a>
        </nav>
     <main>
            <section class="intro-container">
                <div>
                    <span>Auditoria bases de datos</span>
                    <p>Bitacoras de bases de datos </p>
                    <p>Este proyecto consistio llevar el registro detallado de todas las actividades y 
                        eventos que ocurren en un sistema de gestión de bases de datos. La función principal 
                        de una bitácora es proporcionar un mecanismo para el seguimiento y la recuperación de 
                        información sobre cambios y transacciones realizadas en la base de datos, para ello se 
                        realizo una aplicacion en .NET utilizando como gestor de bases de datos SQL server
                    </p>
                    
                    <img src="./image/bitacora-base-de-datos.JPG" alt="">
                </div>

            </section>
            <div>
                
            </div>
    </main>
   
		<!-- Footer -->
			{{> footer}}
    </div>
</body>
</html>