<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/style.css">
    <title>Miportafolio</title>
</head>
<body>
    <div class="main-container animated fadeInDownBig">
        <nav> 
            <a href="/menu"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/></svg></a>
        </nav>
     <main>
            <section class="intro-container">
                <div>
                    <img src="./image/yo2.jpeg" alt="">
                    <span>Gilda Chiroy Ramos</span>
                    <p>SOBRE MI</p>
                    <p>Soy una joven maya Kaqchikel, 
                        naci y creci en la ciudad del paisaje Sololá, 
                        actualmente me encuentro estudiando 
                        la carrera de ingeniería en sistemas y 
                        ciencias de la computación</p>
                    
                    
                </div>
            </section>
    </main>
   
		<!-- Footer -->
			{{> footer}}
    </div>
</body>
</html>